<div class="content-wrapper">
	<!-- <div class="content"> -->
		<div class="row ">
			<div class="col-*-12 full-width-container white-bg content-padding" > 
				<div class="row">
					<div class="col-lg-3 full-height">
						<img src="/assets/bcpg_logo.png" id = "index-logo"/>
						
					</div>
					<div class="col-lg-9 full-height">
						<p>Gastropub tofu selvage, kickstarter church-key XOXO chambray cold-pressed succulents cornhole la croix. Wayfarers cornhole narwhal, single-origin coffee pork belly lyft copper mug yuccie vaporware raclette meditation iceland. Polaroid pok pok viral, biodiesel literally cray lo-fi raclette crucifix pour-over. Wolf cronut bespoke swag deep v, schlitz meditation wayfarers pork belly vegan enamel pin gentrify. Air plant next level vaporware, fap gentrify fanny pack affogato schlitz thundercats mixtape man bun. Vinyl locavore green juice aesthetic, stumptown yr mlkshk forage. Schlitz deep v franzen, aesthetic knausgaard cray taxidermy authentic.
						</p>				
					</div>

				</div>
			
			</div>

		</div>	
		<div class="row">
			<div class="col-*-12 full-width-container light-blue-bg" > some content</div>

		</div>
		<div class="row">
			<div class="col-*-12 full-width-container dark-blue-bg" > some content</div>

		</div>


	<!-- </div> -->
</div>

