<div class="content-wrapper">
	<!-- <div class="content"> -->
		<div class="row">
			<div class="col-*-12 full-width-container white-bg" style="height:500px"> some content</div>

		</div>	
		<div class="row">
			<div class="col-*-12 full-width-container light-blue-bg" style="height:500px"> some content</div>

		</div>
		<div class="row">
			<div class="col-*-12 full-width-container dark-blue-bg" style="height:500px"> some content</div>

		</div>


	<!-- </div> -->
</div>

