// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*/
@mixin no-padding{
	padding:0;
}
@mixin no-margin{
	margin: 0;
}
$light-blue:rgb(163, 208, 255);
$dark-blue:rgb(70,77,84);
.dark-blue-bg{
	background-color:$dark-blue;
}
.light-blue-bg{
	background-color:$light-blue;
}
.white-bg{
	background-color:white;
}
@mixin bottom-box-shadow{
	box-shadow: -1px 6px 3px rgba(0,0,0,.5);
}
body{
	margin: 0;
}
nav.navbar.navbar-default{
	border:0;
	border-radius:0px;
	margin-bottom:0;
	z-index:9;
	background-color: rgba(163, 208, 255, .5);
	.navbar-brand{
		padding:0;
		margin:10px 10px;
		#logo{
			height:inherit;
			width:auto;
			margin-left:10px;
		}
	}
	.navbar-nav{
		li{
			a{
				color: black;
				padding:0px;
				line-height: 72px;
				margin-right:50px;
				&:after{
					content: "|";
					color:black;
					margin-left:50px;
				}
			}
			&:nth-child(5){
				a{
					margin-right: 0;
					&:after{
						content:"";
						margin-left:25px;
					}
				}
			}
			&.active{
				a{
					background-color:transparent;
				}
			}
		}
	}

}
.fixed-navbar{
	position:fixed;
	width:100%;
	margin:0 !important;
}
.clear-navbar{
	padding-top:72px + 50px!important; 
}
.jumbotron{
	@include no-padding;
	@include no-margin;
    width: 100%;
    top: 0;	

	.hero-image{
		@include no-padding;
		height:500px;
		@include no-margin;
	    &#main-index-hero{
			background: url('main-hero.JPG');
			background-attachment:fixed;
			background-repeat:no-repeat;
		    background-size: cover;
		    background-position: center;		
		}
	    &#main-services-hero{
			background: url('main-hero.JPG');
			background-attachment:fixed;
			background-repeat:no-repeat;
		    background-size: cover;
		    background-position: center;		
		}		
	    &#main-testimonials-hero{
			background: url('main-hero.JPG');
			background-attachment:fixed;
			background-repeat:no-repeat;
		    background-size: cover;
		    background-position: center;		
		}	
	    &#main-contact-hero{
			background: url('main-hero.JPG');
			background-attachment:fixed;
			background-repeat:no-repeat;
		    background-size: cover;
		    background-position: center;		
		}						

	}
}
.affix{
	top:0;
	width:100%;
	& + .content-wrapper{
		margin-top: 72px;
	}
}
.hero-overlay{
	background: rgba(0,0,0,.5);
	height:100%;
	position: fixed;
	width:100%;
	h1{
		color:white;
		height:100%;
		@include no-margin;
		line-height: 500px;
		text-align:center;
	}
}
.content-wrapper{
	position:relative;
	background-image: url('bubbleBG.png');
	background-size:contain;
	.content{
		background-color:white;
		position:relative;
		background-image: url('bubbleBG.png');
		padding:50px;

	}	
	.row{
		margin: 0;
	}
}
footer{
	.row{
		margin:0;
	}
}
.full-width-container{
	margin-bottom:100px;
	@include bottom-box-shadow;

}
